<p id="notice"><%= notice %></p>

<h1>Listing Inventory Parts</h1>

<div class="tables">
  <p>
    <label for="search">
      <strong>Enter Part Number or Serial Number to Search Inventory </strong>
    </label>
    <input type="text" id="search">
  </p>

  <table>
    <thead>
      <tr>
        <th>Part Number</th>
        <th>Description</th>
        <th>Serial Number</th>
        <th>Manufacturer</th>
      </tr>
    </thead>

    <tbody>
      <% @inventory_parts.each do |inventory_part| %>
        <tr>
          <td><%= inventory_part.part_num%></td>
          <td><%= inventory_part.description %></td>
          <td><%= inventory_part.serial_num%></td>
          <td><%= inventory_part.manufacturer %></td>
          <td><%= link_to 'Show', inventory_part %></td>
          <td><%= link_to 'Edit', edit_inventory_part_path(inventory_part) %></td>
          <td><%= link_to 'Destroy', inventory_part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Inventory part', new_inventory_part_path %>
