<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @auction.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @auction.description %>
</p>

<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>
