<p id="notice"><%= notice %></p>

<p>
  <strong>Auction Name:</strong>
  <%= @auction.name %>
</p>

<p>
  <strong>Description of Auction:</strong>
  <%= @auction.description %>
</p>

<h2>Bids associated with this Auction</h2>
<ul>
    <% @auction.bids.each do |bid| %>
      <li> <%= link_to bid.amount %>
    <% end %>
</ul>

<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>
<%= link_to 'New Bid', new_auction_bid_path(@auction) %>
