
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<div id="auction_list">
  <h1>Your auctions:</h1>
  <% unless @buyer_auctions.nil? %>

    <% @buyer_auctions.each do |auction| %>
      <%= link_to auction do %>
        <%= render auction %>
      <% end %>
    <% end %>
    <%= link_to 'New Auction', new_company_auction_path(@company) %>

  <% end %>
</div>

<div id="bid_list">
  <h1>Your bids:</h1>
  <% unless @supplier_auctions.nil? %>

    <% @supplier_auctions.each do |auction| %>
      <%= link_to auction do %>
        <%= render auction %>
      <% end %>
    <% end %>

  <% end %>
</div>

<%= link_to 'Inventory', inventory_parts_path %> |
<%= link_to 'Edit', edit_company_path(@company) %> |
