
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<h2> Auctions </h2>

<% current_user.auctions.each do |auction| %>
  <%= render auction %>
<% end %>

<%= link_to 'New Auction', new_company_auction_path(@company) %>
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
